	*{
	box-sizing:border box;
	}
	body
	{
	font-family:blue;
	margin:15px 30px;
	font-size:17px;
	padding:8px;
	}
	.container
	{
	background-color:#c56d6d;
	padding:5px 20px 15px 20px;
	border:1px solid lightray;
	border-radius:4px;
	}
	fieldset
	{
	background-color: pink;
	border:1px solid black;
	border-radius:5px;
	width:95%;
	}
	input[type="text"],
	input[type="email"],
	input[type="number"],
	input[type="password"],
	input[type="date"],
	select,
	textarea{
	width:95%;
	padding:12px;
	border:1px solid black;
	border-radius:5px;
	margin:10px;
	}
	.main_heading
	{
	text-align:center;
	}
	input[type="submit"]
	{
	background-color:green;
	color:white;
	padding:12px 20px;
	border:3px solid white;
	border-radius:4px;
	}
	input[type="submit"]:hover{
	background-color:black;
	}














